[Unit]
Description=Celery Worker for IES Shakemap
After=network.target redis.service
Requires=redis.service

[Service]
Type=simple
User=sysop
Group=sysop

WorkingDirectory=/var/www/Ies_Shakemap-main

# .env ფაილის ჩატვირთვა
EnvironmentFile=/var/www/Ies_Shakemap-main/.env

# venv celeryIes_Shakemap
ExecStart=/var/www/Ies_Shakemap-main/venv/bin/celery -A src.celery_app.celery_app worker

Restart=always
RestartSec=5

# Logs (optional but useful)
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
