{% macro global_confirm_modal() %}
<div class="modal fade" id="globalConfirmModal" tabindex="-1" aria-labelledby="globalConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="globalConfirmModalLabel">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="globalConfirmModalMessage">
                Are you sure you want to perform this action?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" id="globalConfirmModalCancelBtn" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="globalConfirmModalConfirmBtn">Confirm</button>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
